/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
input,
select,
textarea {
  color: #967259;
  font-size: 14px;
  line-height: 1.5;
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 2px;
}

p {
  margin-bottom: 1.5em;
  color:  #f1e6dd;
}

strong {
  font-weight: bold;
}

address {
  margin: 0 0 1.5em;
}