.navbar {
    display: flex;
    flex-wrap: nowrap;
    background-color: #f1e6dd;
    height: 6.5em;
    padding-top: .8em;
    margin-top: -.2em;
    align-content: space-between;
}

.navbar__item {
    max-width: 20em;
    display: flex;
    flex-basis: 20%;
    list-style-type: none;
    color: #967259;
    font-family: 'Comfortaa', cursive;
    align-content: space-between;
}

.navbar__link {
    display: flex;
    flex-basis: 20%;
    border-radius:50%;
    max-height: 60%;
    max-width: 60%;
    background-color: white;
    color: #967259 !important;
    text-decoration: none;
    align-content: space-between;
    font-family: 'Comfortaa', cursive;
}

.navbar__link:hover {
    display: flex;
    flex-basis: 20%;
    border-radius:50%;
    max-height: 90%;
    max-width: 200%;
    background-color: white;
    color: #967259 !important;
    font-size: 11.2pt;
    font-weight: bold;
    align-content: space-between;
    font-family: 'Comfortaa', cursive;
}

.navbar__logout:hover {
    display: flex;
    flex-basis: 20%;
    border-radius:50%;
    max-height: 50%;
    max-width: 80%;
    background-color: white;
    color: #967259 !important;
    border-radius: .1em;
    font-size: 11.2pt;
    font-weight: bold;
    align-content: space-between;
    font-family: 'Comfortaa', cursive;
}


.nav__logo {
    max-height: 115px;
    width: 290px;
    padding-right: 2em;
    margin-left: -3.5em;
    margin-top: -.7em;
    object-fit: cover;
    background-color: transparent;
}

